<div id="h3">
	<h3>Main</h3>
</div>

<div>

	<%= link_to 'Games', 'games', class: "btn btn-default btn-block", id: "home_buttons" %>
	<%= link_to 'Players', 'players', class: "btn btn-default btn-block", id: "home_buttons" %>
	<%= link_to 'Stats', 'stats', class: "btn btn-default btn-block", id: "home_buttons" %>


</div>