<h3>Stats</h3>

<% for player in @players %>
  <% for game in @games %>
    <% if game.winner_id == player.id %>
      <% @n_wins += 1 %>
    <% elsif game.loser_id == player.id %>
      <% @n_losses += 1 %>
    <% end %>
  <% end %>

  <% @n_games = @n_wins + @n_losses %>
  <% if @n_games != 0 %> 
    <% @win_rate = @n_wins.to_f / (@n_wins + @n_losses) %>
    <% @win_rate_p = @win_rate * 100 %>
  <% else %>
    <% @win_rate_p = 0 %>
  <% end %>


  <h4><%= player.name %></h4>
  <table>
  	<tbody>
  		<tr>
  			<td>Wins:</td>
  			<td><%= @n_wins %></td>
  		</tr>
  		<tr>
  			<td>Losses:</td>
  			<td><%= @n_losses %></td>
  		</tr>
  		<tr>
  			<td>Win rate</td>
  			 <td><%= @win_rate_p.round(0) %> %</td>
  		</tr>
  	</tbody>
  </table>

  <% @n_wins = 0 %>
  <% @n_losses = 0 %>
  <% @n_games = 0 %>

<% end %>
